<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
    <!-- <script src="https://unpkg.com/scrollreveal"></script> -->
    <script src="scrollreveal.js"></script>
</head>

<body>

    <header id="head">

        <img id="logo" src="static/lighting.jpg" alt="LOGO">
        <h2>My Portfolio</h2>
        <div class="tgl">
            <input type="checkbox" id="toggle"><label for="toggle"></label></input>
            <!-- <img src="static/day.png" alt="light mode">
            <img src="static/night.png" alt="dark mode"> -->

        </div>
        <nav>
            <ul>
                <li><a class="nav-link scrollto active" href="#home">Home</a></li>
                <li><a class="nav-link scrollto active" href="#about">About</a></li>
                <li><a class="nav-link scrollto active" href="#works">Works</a></li>
                <li><a class="nav-link scrollto active" href="#contact">Contact</a></li>
            </ul>

        </nav>
    </header>

    <div class="overall">

        <!-- home section -->
        <section id="home">
            <div class="container" id="first">
                <img id="background" src="static/dayback.png" alt="backgound pic">
                <!-- <div class="page">
                    <h1>light<br>60% lavender 30% blue 10% darkgrey</h1>
                </div> -->
                <div class="cover">

                </div>
                <div class="text">
                    <span>My name is </span>
                    <span>Abdulqadir Mahmood</span>
                </div>
            </div>
        </section>

        <!-- About section -->
        <section id="about">
            <div class="container">
                <div class="page" id="page1">
                    <h1 class="header1">Dark <br> black blue white</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut iure deserunt ipsam, obcaecati ad
                        eveniet autem illo, doloremque, alias omnis praesentium consequatur ipsum? Sit consectetur,
                        laborum enim magni minima asperiores incidunt explicabo maiores eaque ratione nostrum cum iure
                        quisquam dolorem facere molestiae neque quidem quam fugiat blanditiis vel. Debitis nostrum at
                        laudantium inventore nisi dolorem accusantium, recusandae aspernatur vero minima necessitatibus
                        maxime, eum temporibus laboriosam dolorum, consequatur fuga provident maiores delectus assumenda
                        reprehenderit? Illo, aperiam fugit illum aut impedit ipsa dolor quam quibusdam nesciunt quasi
                        consequatur veniam officia architecto possimus facere voluptas quos ipsum nam atque modi nobis
                        sunt adipisci iste? Nisi atque laboriosam ipsa illo ducimus. Ipsum totam perspiciatis esse
                        voluptatem! Qui labore quis officiis perferendis. Amet, ducimus. Eveniet autem soluta impedit
                        voluptas itaque fuga ea aliquam! Quia ipsam aspernatur laboriosam earum delectus, mollitia
                        itaque non assumenda accusamus corporis obcaecati animi amet minus saepe in laborum asperiores
                        provident cum esse distinctio expedita id harum. Blanditiis nisi harum, praesentium, delectus
                        sapiente expedita possimus beatae velit quos, impedit sint? Ipsum nulla obcaecati illo animi vel
                        omnis eveniet, magni neque perferendis aliquid aperiam provident excepturi commodi, cupiditate
                        et ipsam quidem nostrum mollitia unde, quibusdam blanditiis. Illo, autem amet temporibus tenetur
                        quasi totam?</p>
                </div>
            </div>
        </section>

        <div class="im_cov">
            <img src="static/nodes.png" alt="parallax img" id="par">
        </div>

        <!-- Works section -->
        <section id="works">
            <div class="container">
                <div class="page">
                    <h1 class="header1">Welcome, lets explore possiblities</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam dicta dolores, iste rerum nostrum
                        quos adipisci amet pariatur, aliquam est sapiente id velit modi cumque ipsam quasi deleniti
                        necessitatibus numquam iusto sit, quam quaerat fugit? Ea, optio tempora labore debitis sunt
                        provident ratione explicabo iste excepturi enim nobis possimus itaque fugiat blanditiis
                        perspiciatis quia! Saepe molestiae impedit quisquam ab aperiam. Quam harum et magnam similique
                        nam, modi architecto temporibus, optio corrupti expedita illo quisquam beatae ex. Nesciunt
                        molestiae officiis fuga adipisci dignissimos quis blanditiis, non sequi sunt ipsam quibusdam
                        recusandae ab beatae culpa corrupti reprehenderit velit? Voluptate, tempora. Amet, incidunt
                        autem, deserunt neque labore nemo impedit voluptas accusantium quos ipsa, ullam tempora ratione
                        error officia at dolor est maiores dolorum illo rem aliquid molestiae ab veniam itaque. Minus,
                        sit suscipit deserunt ea laborum praesentium voluptates obcaecati iusto officia consectetur sed
                        quod neque, accusamus perferendis delectus illum reiciendis quam nesciunt. Eligendi?</p>
                </div>
            </div>
        </section>


        <!-- Contact section  -->
        <section id="contact">
            <div class="container">
                <div class="wrap">
                    <div class="inp_fields">
                        <form action="">
                            <input type="text" placeholder="Name" id="name">
                            <input type="email" placeholder="ُEmail" id="email">
                            <textarea name="message" id="message" cols="30" rows="10"></textarea>
                            <button id="submit">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <script type="text/javascript" src="./script.js"></script>
    </div>
    <script>
        ScrollReveal({
            reset: false,
            distance: "60px",
            duration: 2500,
            delay: 200
        })
        ScrollReveal().reveal('.text, .header1', { delay: 400, origin: 'left' })
        ScrollReveal().reveal('p, #submit', { delay: 600, origin: 'bottom' })
        ScrollReveal().reveal('#name, #email, #message', { delay: 600, origin: 'right', interval: 200 })

    </script>
</body>


</html>