<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
    <!-- <script src="https://unpkg.com/scrollreveal"></script> -->
    <script src="scrollreveal.js"></script>
    <script src="typed.js"></script>
    <!-- <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script> -->
</head>

<body>

    <header id="head">

        <img id="logo" src="static/lighting.jpg" alt="LOGO">
        <h2>My Portfolio</h2>
        <div class="tgl">
            <input type="checkbox" id="toggle"><label for="toggle"></label></input>
            <!-- <img src="static/day.png" alt="light mode">
            <img src="static/night.png" alt="dark mode"> -->

        </div>
        <nav>
            <ul>
                <li><a class="nav-link scrollto active" href="#home">Home</a></li>
                <li><a class="nav-link scrollto active" href="#about">About</a></li>
                <li><a class="nav-link scrollto active" href="#works">Works</a></li>
                <li><a class="nav-link scrollto active" href="#contact">Contact</a></li>
            </ul>

        </nav>
    </header>

    <div class="overall">

        <!-- home section -->
        <section id="home">
            <div class="container" id="first">
                <!-- <div class="cover"></div> -->
                <video id="background" src="static/white.mp4" autoplay loop muted></video>
                <!-- </div> -->
                <div class="text">
                    <span id="intro">I'm Abdulqadir Mahmood</span>
                    <span class="typed"></span>
                </div>
            </div>
        </section>

        <!-- About section -->
        <section id="about">
            <div class="container about">
                <div class="description">
                    <h1>About me</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia adipisci eos
                        voluptatibus,
                        accusantium maxime illo dolorum debitis quidem vel tenetur vitae labore commodi quasi odit natus
                        nam necessitatibus quis dolore nesciunt, id neque, ea inventore. Perferendis vitae rem eos saepe
                        placeat mollitia nemo nobis modi quas quis, enim ea animi consequatur magnam magni totam quod
                        odit deleniti provident officiis amet vel impedit minus. Cum aliquid eius accusantium? Magnam
                        consectetur commodi dolor ab aut obcaecati optio doloremque placeat unde nihil, ut, quasi
                        excepturi dolore! Itaque fugiat, nemo blanditiis ex aliquam quis omnis quam. Unde exercitationem
                        nesciunt voluptates quia beatae neque blanditiis molestiae. Dolore modi sunt eligendi vitae
                        earum aspernatur et quasi laudantium veritatis ratione officia maiores enim nam asperiores harum
                        recusandae, accusamus sit iusto hic nulla distinctio vel quaerat? Voluptatibus tempora quos quo
                        recusandae ut at illum, nisi minus doloremque corrupti odit ipsum magnam? Ea, atque sapiente
                        architecto nemo adipisci eum?</p>

                </div>
                <div class="image">
                    <img src="static/me2.png" alt="picture">
                </div>

            </div>
            <div class="skills">
                <span>python</span>
                <p>85%</p>
                <div class="progress-bar" role="progressbar">
                    <div class="progress" style="width: 85%;">
                        <div class="pro"></div>
                    </div>
                </div>
                <span>javascript</span>
                <p>60%</p>
                <div class="progress-bar" role="progressbar">
                    <div class="progress" style="width: 60%;">
                        <div class="pro"></div>
                    </div>
                </div>


                <span>html</span>
                <p>75%</p>
                <div class="progress-bar" role="progressbar">
                    <div class="progress" style="width: 75%;">
                        <div class="pro"></div>
                    </div>
                </div>

                <span>css</span>
                <p>70%</p>
                <div class="progress-bar" role="progressbar">
                    <div class="progress" style="width: 70%;">
                        <div class="pro"></div>
                    </div>
                </div>

            </div>
        </section>

        <div class="im_cov">
            <img src="static/nodes.png" alt="parallax img" id="par">
        </div>

        <!-- Works section -->
        <section id="works">
            <div class="container">
                <div class="page">
                    <h1 class="header1">Welcome, lets explore possiblities</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam dicta dolores, iste rerum nostrum
                        quos adipisci amet pariatur, aliquam est sapiente id velit modi cumque ipsam quasi deleniti
                        necessitatibus numquam iusto sit, quam quaerat fugit? Ea, optio tempora labore debitis sunt
                        provident ratione explicabo iste excepturi enim nobis possimus itaque fugiat blanditiis
                        perspiciatis quia! Saepe molestiae impedit quisquam ab aperiam. Quam harum et magnam similique
                        nam, modi architecto temporibus, optio corrupti expedita illo quisquam beatae ex. Nesciunt
                        molestiae officiis fuga adipisci dignissimos quis blanditiis, non sequi sunt ipsam quibusdam
                        recusandae ab beatae culpa corrupti reprehenderit velit? Voluptate, tempora. Amet, incidunt
                        autem, deserunt neque labore nemo impedit voluptas accusantium quos ipsa, ullam tempora ratione
                        error officia at dolor est maiores dolorum illo rem aliquid molestiae ab veniam itaque. Minus,
                        sit suscipit deserunt ea laborum praesentium voluptates obcaecati iusto officia consectetur sed
                        quod neque, accusamus perferendis delectus illum reiciendis quam nesciunt. Eligendi?</p>
                </div>
            </div>
        </section>


        <!-- Contact section  -->
        <section id="contact">
            <div class="container">
                <div class="wrap">
                    <div class="inp_fields">
                        <form action="">
                            <input type="text" placeholder="Name" id="name">
                            <input type="email" placeholder="ُEmail" id="email">
                            <textarea name="message" id="message" cols="30" rows="10"></textarea>
                            <button id="submit">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <script type="text/javascript" src="./script.js"></script>
    </div>
    <script>
        // Typing animation
        var typed = new Typed(".typed", {
            strings: ["Web developer", "Freelancer", "Data scientist"],
            typeSpeed: 50,
            backSpeed: 100,
            loop: true
        })
        ScrollReveal({
            reset: false,
            distance: "80px",
            duration: 2500,
            delay: 200
        })
        ScrollReveal().reveal('.text', { delay: 400, origin: 'left' })
        ScrollReveal().reveal('.description, .skills', { delay: 300, origin: 'bottom' })
        ScrollReveal().reveal('.image', { delay: 400, origin: 'right' })

    </script>
</body>


</html>