<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <div class="overall">
        <header id="head">

            <img id="logo" src="static/lighting.jpg" alt="LOGO">
            <h2>My Portfolio</h2>
            <div class="tgl">
                <input type="checkbox" id="toggle"><label for="toggle"></label></input>
                <!-- <img src="static/day.png" alt="light mode">
                <img src="static/night.png" alt="dark mode"> -->

            </div>
            <nav>
                <ul>
                    <li><a class="nav-link scrollto active" href="#home">Home</a></li>
                    <li><a class="nav-link scrollto active" href="#about">About</a></li>
                    <li><a class="nav-link scrollto active" href="#works">Works</a></li>
                    <li><a class="nav-link scrollto active" href="#contact">Contact</a></li>
                </ul>

            </nav>
        </header>
        <!-- home section -->
        <section id="home">
            <div class="container">
                <img src="static/home.png" alt="backgound pic">
                <!-- <div class="page">
                    <h1>light<br>60% lavender 30% blue 10% darkgrey</h1>
                </div> -->
                <div class="cover">

                </div>
                <div class="text">
                    <span>My name is </span>
                    <span>Abdulqadir Mahmood</span>
                </div>
            </div>
        </section>


        <!-- About section -->
        <section id="about">
            <div class="container">
                <div class="page">
                    <h1>Dark <br> black blue white</h1>
                </div>
            </div>
        </section>


        <!-- Works section -->
        <section id="works">
            <div class="container">
                <div class="page">
                    <h1>Welcome, lets explore possiblities</h1>
                </div>
            </div>
        </section>


        <!-- Contact section  -->
        <section id="contact">
            <div class="container">
                <div class="wrap">
                    <div class="inp_fields">
                        <input type="text" placeholder="Name" id="name">
                        <input type="email" placeholder="ُEmail" id="email">
                        <input type="text" id="message">
                        <button id="submit">Send</button>
                    </div>
                </div>
            </div>
        </section>
        <script type="text/javascript" src="./script.js"></script>
    </div>
</body>


</html>