body {
    background: linear-gradient(45deg, lavender, lightblue);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    transition: all 0.3s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* -----HEADER AND NAVIGATION----- */

header {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
    perspective: none;
    transition: 0.3s ease-in-out;
}

/* When I scroll up */

.scroll-up {
    top: -80px;

}




header h2 {
    color: #161617;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    margin: 0px 5px;
}

#logo {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 15px;
    padding: 0px;
    position: absolute;
    display: inline;
    left: 10px;
}

nav {
    padding: 0;
    margin: 0 10px;
    right: 0;
    display: flex;
    width: 50%;
    justify-content: center;
}

nav ul {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 0px;
}

nav ul li {
    padding: 10px;
    display: inline-block;
    transition: all 0.2s;
    box-sizing: border-box;
    margin: 0px 10px;
}


nav ul li a:hover {

    border-bottom: 3px solid #ffffff;
    color: #ffffff;
    transition: all 0.3s;
    text-shadow: 0px 0px 10px #ffffff;
}

nav ul li a {
    text-decoration: none;
    color: #1d1f30;
    font-weight: 600;
    padding: 10px;
    transition: all 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* END OF HEADER AND NAVIGATION */


/*------- CHECKBOX TOGGLE -------*/
.tgl {
    display: inline-block;
    padding: 10px;
    height: 100%;
    right: 0;
    margin-right: 30px;
    top: 5px;
    position: absolute;
}

input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
    margin: 0;
}

.hii {
    display: block;
    height: 100vh;
}

label {
    cursor: pointer;
    /* text-indent: -9999px; */
    width: 50px;
    height: 25px;
    background: #fff;
    display: block;
    border-radius: 15px;
    position: relative;
    box-shadow: inset 0px 1px 2px, inset 0px -1px 2px;
}

label:after {
    content: '';
    position: absolute;
    top: 2.06px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: linear-gradient(#ffff33, #fc4812);
    border-radius: 10px;
    transition: 0.3s;
}

input:checked+label {
    background: #1a1a1a;
    box-shadow: inset 0px 1px 3px #bfbfbf, inset 0px -1px 3px #bfbfbf;
}

input:checked+label:after {
    content: '';
    left: calc(100% - 3px);
    position: absolute;
    transform: translateX(-100%);
    width: 20px;
    /* height: auto; */
    background: linear-gradient(#44cdfb, #002cb0);
}

label:active:after {
    width: 40px;
}

/* END OF TOGGLE */

/* ----MAIN BODY---- */
.overall {
    overflow-x: hidden;
    overflow-y: hidden;
    perspective: 10px;

}

/* height 100vh is giving me a problem */
p {
    margin: 16px;
    font-size: 25px;

    font-weight: 100;
    color: #1d1f30;
}

/* .container {
    height: 100vh;
    padding: 0;
    width: 100%;
    background-color: lavender;
    position: relative;
} */

/* HOME PAGE */
#first {
    /* background: linear-gradient(180deg, rgba(0, 0, 0, 0.895) 4%, transparent); */
    background-color: #1d1f303a;
    height: 100vh;
}

/* Backgound picture */
img {
    height: 100%;
    width: 100%;
}

.cover {
    z-index: -10;
    position: relative;
    width: 100%;
    height: 100%;
}

#background {
    z-index: -1;
    position: absolute;
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

#intro {
    width: 100%;
}

.text span {
    font-weight: 300;
    font-size: 3rem;
}


.text .typed {
    font-size: 50px;
    display: inline;
    font-weight: 900;
}

.text {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    top: 150px;
    padding: 20px;
    margin: 0px 10px;
    color: #161220;
    opacity: 1;
    position: relative;
}

/* END OF HOME */


/* ABOUT PAGE */
#about {
    background: lavender;

}

.about {
    position: relative;
    height: 100vh;
    margin: 0px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.description {
    background-color: #c0cad0;
    padding: 10px;
    box-sizing: border-box;
    width: 50%;
}

.description p {
    font-size: 20px;
    height: 100%;
    object-fit: cover;
}

.description h1 {
    font-size: 40px;
    color: #1a1a1a;
}

.image {
    width: 450px;
    height: 450px;
    /* background-color: #283c40; */
    box-sizing: border-box;
    border-radius: 225px;
    overflow: hidden;
    margin-left: 20px;
    box-shadow: inset 0px 0px 10px black;
    /* back */
}

.skills {
    height: 500px;
    width: 700px;
    background: transparent;
    margin: 30px;
    padding: 10px;
}

.skills span {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1d1f30;

}

.skills p {
    font-size: 15px;
    padding: 0px;
    margin: 0px;
}

.progress-bar {
    height: .5rem;
    width: 100%;
    background-color: #c1cff7;
    margin-bottom: 10px;
}

.progress {
    height: 100%;
}

.pro {
    width: 0%;
    height: 100%;
    background: #1d4bd6;
    /* animation: progress 2.5s 1; */
}

/* @keyframes progress {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
} */

/* .container::before,
.container::after {
    content: "";
    display: table;
}

.container::after {
    clear: both;
} */

/* .about {
} */

/* CONTACT PAGE */

#par {
    position: absolute;
    width: 100%;
    height: 100vh;
}


.im_cov {
    width: 100%;
    height: 400px;
    top: -100px;
    position: relative;
    transform: translateZ(-10px) scale(2.2);
    z-index: -1;
    /* background-color: #000000; */
}

/* WORKS PAGE */
#works {
    height: 100vh;
    background: whitesmoke;
    padding: 10px;
}

.page {
    width: 900px;
    height: 100%;
    color: #1d1f30;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #d8d4e9;
    margin: 0 auto;
    justify-content: center;
}

.page h2 {
    font-size: 25px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    align-self: center;
}


/* SLIDER */
swiper-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 20px auto;
    perspective: 1px;
}

swiper-container swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #c9c3c3;
    display: flex;
    justify-content: center;
    width: 250px;
    height: 250px;
    align-items: center;
    top: 100px;
    transition: 0.5s;
}

swiper-slide:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 50px 5px #242323;
}

.text_shadow {
    box-shadow: 0px 0px 50px 5px #6e6f6f !important;
}

swiper-slide a {
    text-decoration: none;
}

/* END OF WORKS */


/* CONTACT PAGE */
.wrap {
    display: grid;
    position: relative;
    width: 100%;
    height: 100%;
    right: 0;
    justify-content: end;
    align-items: center;
}

form {
    display: flexbox;
}

.inp_fields {
    display: grid;
    width: 400px;
    position: relative;
    right: 0px;
    margin: 0px 20px;
    padding: 10px;
    box-sizing: border-box;
}

#name,
#email,
#message {
    width: 100%;
    background: transparent;
    border: 1px solid black;
    margin: 5px 0px;
}

#name,
#email {
    height: 35px;
    border-radius: 5px;
}

#message {
    height: 150px;
    border-radius: 10px;
}

#submit {
    height: 40px;
    width: 100px;
    display: inline-block;
    position: relative;
    justify-self: center;

}

/* END OF MAIN BODY */